.devise
  = render "devise/shared/header"
  .deviseSection
    .inner
      %h2.title 会員情報入力
      .deviseForm
        .deviseForm__actions
          = link_to 'トップページに戻る', root_path
  =render "devise/shared/footer"
