- case params.values_at :controller, :action


- when ['products', 'search']
  - breadcrumb :products_search

- when ['products', 'show']
  - breadcrumb :product_show

- when ['users', 'show']
  - breadcrumb :user_show

- when ['users', 'listings']
  - breadcrumb :listings_user

- when ['users', 'in_progress']
  - breadcrumb :in_progress_user

- when ['users', 'completed']
  - breadcrumb :completed_user

- when ['users', 'purchase']
  - breadcrumb :purchase_user

- when ['users', 'purchased']
  - breadcrumb :purchased_user

= breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "
